.btn.btn-flat {
    min-width: 100px;
}

.bast button{
	width: 100px;
}
.bast a{
	width: 100px;
}
a{
	color: #000;
}
ul .dropdown-menu{
	top: 0px;
  	left: 0px;
	position: fixed;
	color: #000;
	z-index: 400;
	transform: translate3d(56px, 313px, 0px);
	width: 35vh;
	box-shadow: none;
    border-color: #eee;

}
.dropdown-menu a{
	color: #000!important;
}

.dropdown-menu li{
	display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;

}

.issue-detail-body{
    margin-top: 50px;
}
.fixed
{
position:fixed;
background-color: #ecf0f5;
margin-left:230px;
left:0;
right:0;
padding: 15px 15px 0 15px;
z-index: 1000;
}

.mar-left15
{
	margin-left: 15px;
}

.mar-right15
{
	margin-right: 15px;
}

.mar-right30
{
	margin-right: 30px;
}

.right15{
	right: 15vw;
}
.white-box {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 30px;
}
* {
  outline: none !important;
}

.gma-invoice{
	font-size: 12px;
}
.gma-invoice .head
{
	font-size: 14px;
}

.gma-invoice .total
{
	font-size: 16px;
}

.fourteen{
	font-size: 14px;
    }

.threeteen{
	font-size: 12px;
    } 

table.dataTable {
    font-size: 12px !important;
}
.btn-group-sm > .btn, .btn-sm {
    font-size: 11px;
}   
