@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Amiri');

body {
  /*font-family: 'Montserrat', sans-serif;*/
}

.bg-sharp-blue {
  background: #03A9F4;
  color: #fff;
}

.text-sharp-blue {
  color: #2196F3;
}

.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin-new{
  margin: 0;
}
.no-padding-new{
  padding: 0;
}

.margin-20{
  margin: 20px !important;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.padd-220 {
  padding: 220px 0px;
}
.paddtb-45 {
  padding: 45px 0px;
}
.padd-10 {
  padding: 0px 10px;
}
.padd-15 {
  padding: 0px 15px;
}
.padd-30 {
  padding: 0px 30px;
}
.padd-45 {
  padding: 0px 45px;
}
.padd-l45 {
  padding: 0px 0px 0px 45px;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-right {
  margin-right: 0;
}
.marg-220 {
  margin: 220px 0px;
}
.marg-15 {
  margin: 0px 15px;
}
.marg-30 {
  margin: 0px 30px;
}
.marg-45 {
  margin: 0px 45px;
}
.marg-lg-b0 {
  margin-bottom: 0px;
}
.marg-lg-b5 {
  margin-bottom: 5px;
}
.marg-lg-b10 {
  margin-bottom: 10px;
}
.marg-lg-b15 {
  margin-bottom: 15px;
}
.marg-lg-b20 {
  margin-bottom: 20px!important;
}
.marg-lg-b25 {
  margin-bottom: 25px;
}
.marg-lg-b30 {
  margin-bottom: 30px;
}
.marg-lg-b35 {
  margin-bottom: 35px;
}
.marg-lg-b40 {
  margin-bottom: 40px;
}
.marg-lg-b45 {
  margin-bottom: 45px;
}
.marg-lg-b50 {
  margin-bottom: 50px;
}
.marg-lg-b55 {
  margin-bottom: 55px;
}
.marg-lg-b60 {
  margin-bottom: 60px;
}
.marg-lg-b65 {
  margin-bottom: 65px;
}
.marg-lg-b70 {
  margin-bottom: 70px;
}
.marg-lg-b75 {
  margin-bottom: 75px;
}
.marg-lg-b80 {
  margin-bottom: 80px;
}
.marg-lg-b85 {
  margin-bottom: 85px;
}
.marg-lg-b90 {
  margin-bottom: 90px;
}
.marg-lg-b95 {
  margin-bottom: 95px;
}
.marg-lg-b100 {
  margin-bottom: 100px;
}
.marg-lg-b105 {
  margin-bottom: 105px;
}
.marg-lg-b125 {
  margin-bottom: 125px;
}
.marg-lg-b130 {
  margin-bottom: 125px;
}
.marg-lg-b115 {
  margin-bottom: 115px;
}
.marg-lg-b110 {
  margin-bottom: 110px;
}
.marg-lg-b120 {
  margin-bottom: 120px;
}
.marg-lg-b140 {
  margin-bottom: 140px;
}
.marg-lg-b145 {
  margin-bottom: 145px;
}
.marg-lg-b150 {
  margin-bottom: 150px;
}
.marg-lg-b190 {
  margin-bottom: 190px;
}
.marg-lg-t0 {
  margin-top: 0px;
}
.marg-lg-t5 {
  margin-top: 5px!important;
}
.marg-lg-t10 {
  margin-top: 10px;
}
.marg-lg-t15 {
  margin-top: 15px;
}
.marg-lg-t20 {
  margin-top: 20px;
}
.marg-lg-t25 {
  margin-top: 25px;
}
.marg-lg-t30 {
  margin-top: 30px;
}
.marg-lg-t35 {
  margin-top: 35px;
}
.marg-lg-t40 {
  margin-top: 40px;
}
.marg-lg-t45 {
  margin-top: 45px;
}
.marg-lg-t50 {
  margin-top: 50px;
}
.marg-lg-t55 {
  margin-top: 55px;
}
.marg-lg-t60 {
  margin-top: 60px;
}
.marg-lg-t65 {
  margin-top: 65px;
}
.marg-lg-t70 {
  margin-top: 70px;
}
.marg-lg-t75 {
  margin-top: 75px;
}
.marg-lg-t80 {
  margin-top: 80px;
}
.marg-lg-t85 {
  margin-top: 85px;
}
.marg-lg-t90 {
  margin-top: 90px;
}
.marg-lg-t95 {
  margin-top: 95px;
}
.marg-lg-t100 {
  margin-top: 100px;
}
.marg-lg-t105 {
  margin-top: 105px;
}
.marg-lg-t115 {
  margin-top: 115px;
}
.marg-lg-t110 {
  margin-top: 110px;
}
.marg-lg-t115 {
  margin-top: 115px;
}
.marg-lg-t120 {
  margin-top: 120px;
}
.marg-lg-t125 {
  margin-top: 125px;
}
.marg-lg-t130 {
  margin-top: 130px;
}
.marg-lg-t135 {
  margin-top: 135px;
}
.marg-lg-t140 {
  margin-top: 140px;
}
.marg-lg-t145 {
  margin-top: 145px;
}
.marg-lg-t150 {
  margin-top: 150px;
}
.marg-lg-t155 {
  margin-top: 155px;
}
.marg-lg-t160 {
  margin-top: 160px;
}
.marg-lg-t170 {
  margin-top: 170px;
}
.marg-lg-t175 {
  margin-top: 175px;
}
.marg-lg-t205 {
  margin-top: 205px;
}
.marg-lg-t320 {
  margin-top: 320px;
}
@media screen and (max-width: 1199px) {
  .marg-md-b0 {
    margin-bottom: 0px!important;
  }
  .marg-md-b5 {
    margin-bottom: 5px!important;
  }
  .marg-md-b10 {
    margin-bottom: 10px!important;
  }
  .marg-md-b15 {
    margin-bottom: 15px!important;
  }
  .marg-md-b20 {
    margin-bottom: 20px!important;
  }
  .marg-md-b25 {
    margin-bottom: 25px!important;
  }
  .marg-md-b30 {
    margin-bottom: 30px!important;
  }
  .marg-md-b35 {
    margin-bottom: 35px!important;
  }
  .marg-md-b40 {
    margin-bottom: 40px!important;
  }
  .marg-md-b45 {
    margin-bottom: 45px!important;
  }
  .marg-md-b50 {
    margin-bottom: 50px!important;
  }
  .marg-md-b55 {
    margin-bottom: 55px!important;
  }
  .marg-md-b60 {
    margin-bottom: 60px!important;
  }
  .marg-md-b65 {
    margin-bottom: 65px!important;
  }
  .marg-md-b70 {
    margin-bottom: 70px!important;
  }
  .marg-md-b75 {
    margin-bottom: 75px!important;
  }
  .marg-md-b80 {
    margin-bottom: 80px!important;
  }
  .marg-md-b85 {
    margin-bottom: 85px!important;
  }
  .marg-md-b90 {
    margin-bottom: 90px!important;
  }
  .marg-md-b95 {
    margin-bottom: 95px!important;
  }
  .marg-md-b100 {
    margin-bottom: 100px!important;
  }
  .marg-md-b140 {
    margin-bottom: 140px!important;
  }
  .marg-md-t0 {
    margin-top: 0px!important;
  }
  .marg-md-t5 {
    margin-top: 5px!important;
  }
  .marg-md-t10 {
    margin-top: 10px!important;
  }
  .marg-md-t15 {
    margin-top: 15px!important;
  }
  .marg-md-t20 {
    margin-top: 20px!important;
  }
  .marg-md-t25 {
    margin-top: 25px!important;
  }
  .marg-md-t30 {
    margin-top: 30px!important;
  }
  .marg-md-t35 {
    margin-top: 35px!important;
  }
  .marg-md-t40 {
    margin-top: 40px!important;
  }
  .marg-md-t45 {
    margin-top: 45px!important;
  }
  .marg-md-t50 {
    margin-top: 50px!important;
  }
  .marg-md-t55 {
    margin-top: 55px!important;
  }
  .marg-md-t60 {
    margin-top: 60px!important;
  }
  .marg-md-t65 {
    margin-top: 65px!important;
  }
  .marg-md-t70 {
    margin-top: 70px!important;
  }
  .marg-md-t75 {
    margin-top: 75px!important;
  }
  .marg-md-t80 {
    margin-top: 80px!important;
  }
  .marg-md-t85 {
    margin-top: 85px!important;
  }
  .marg-md-t90 {
    margin-top: 90px!important;
  }
  .marg-md-t95 {
    margin-top: 95px!important;
  }
  .marg-md-t100 {
    margin-top: 100px!important;
  }
  .marg-md-t140 {
    margin-top: 140px!important;
  }
  .no-padd-md {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .marg-sm-b0 {
    margin-bottom: 0px!important;
  }
  .marg-sm-b5 {
    margin-bottom: 5px!important;
  }
  .marg-sm-b10 {
    margin-bottom: 10px!important;
  }
  .marg-sm-b15 {
    margin-bottom: 15px!important;
  }
  .marg-sm-b20 {
    margin-bottom: 20px!important;
  }
  .marg-sm-b25 {
    margin-bottom: 25px!important;
  }
  .marg-sm-b30 {
    margin-bottom: 30px!important;
  }
  .marg-sm-b35 {
    margin-bottom: 35px!important;
  }
  .marg-sm-b40 {
    margin-bottom: 40px!important;
  }
  .marg-sm-b45 {
    margin-bottom: 45px!important;
  }
  .marg-sm-b50 {
    margin-bottom: 50px!important;
  }
  .marg-sm-b55 {
    margin-bottom: 55px!important;
  }
  .marg-sm-b60 {
    margin-bottom: 60px!important;
  }
  .marg-sm-b65 {
    margin-bottom: 65px!important;
  }
  .marg-sm-b70 {
    margin-bottom: 70px!important;
  }
  .marg-sm-b75 {
    margin-bottom: 75px!important;
  }
  .marg-sm-b80 {
    margin-bottom: 80px!important;
  }
  .marg-sm-b85 {
    margin-bottom: 85px!important;
  }
  .marg-sm-b90 {
    margin-bottom: 90px!important;
  }
  .marg-sm-b95 {
    margin-bottom: 95px!important;
  }
  .marg-sm-b100 {
    margin-bottom: 100px!important;
  }
  .marg-sm-b140 {
    margin-bottom: 140px!important;
  }
  .marg-sm-t0 {
    margin-top: 0px!important;
  }
  .marg-sm-t5 {
    margin-top: 5px!important;
  }
  .marg-sm-t10 {
    margin-top: 10px!important;
  }
  .marg-sm-t15 {
    margin-top: 15px!important;
  }
  .marg-sm-t20 {
    margin-top: 20px!important;
  }
  .marg-sm-t25 {
    margin-top: 25px!important;
  }
  .marg-sm-t30 {
    margin-top: 30px!important;
  }
  .marg-sm-t35 {
    margin-top: 35px!important;
  }
  .marg-sm-t40 {
    margin-top: 40px!important;
  }
  .marg-sm-t45 {
    margin-top: 45px!important;
  }
  .marg-sm-t50 {
    margin-top: 50px!important;
  }
  .marg-sm-t55 {
    margin-top: 55px!important;
  }
  .marg-sm-t60 {
    margin-top: 60px!important;
  }
  .marg-sm-t65 {
    margin-top: 65px!important;
  }
  .marg-sm-t70 {
    margin-top: 70px!important;
  }
  .marg-sm-t75 {
    margin-top: 75px!important;
  }
  .marg-sm-t80 {
    margin-top: 80px!important;
  }
  .marg-sm-t85 {
    margin-top: 85px!important;
  }
  .marg-sm-t90 {
    margin-top: 90px!important;
  }
  .marg-sm-t95 {
    margin-top: 95px!important;
  }
  .marg-sm-t100 {
    margin-top: 100px!important;
  }
  .marg-sm-t140 {
    margin-top: 140px!important;
  }
  .no-padd-sm {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .marg-xs-b0 {
    margin-bottom: 0px!important;
  }
  .marg-xs-b5 {
    margin-bottom: 5px!important;
  }
  .marg-xs-b10 {
    margin-bottom: 10px!important;
  }
  .marg-xs-b15 {
    margin-bottom: 15px!important;
  }
  .marg-xs-b20 {
    margin-bottom: 20px!important;
  }
  .marg-xs-b25 {
    margin-bottom: 25px!important;
  }
  .marg-xs-b30 {
    margin-bottom: 30px!important;
  }
  .marg-xs-b35 {
    margin-bottom: 35px!important;
  }
  .marg-xs-b40 {
    margin-bottom: 40px!important;
  }
  .marg-xs-b45 {
    margin-bottom: 45px!important;
  }
  .marg-xs-b50 {
    margin-bottom: 50px!important;
  }
  .marg-xs-b55 {
    margin-bottom: 55px!important;
  }
  .marg-xs-b60 {
    margin-bottom: 60px!important;
  }
  .marg-xs-b65 {
    margin-bottom: 65px!important;
  }
  .marg-xs-b70 {
    margin-bottom: 70px!important;
  }
  .marg-xs-b75 {
    margin-bottom: 75px!important;
  }
  .marg-xs-b80 {
    margin-bottom: 80px!important;
  }
  .marg-xs-b85 {
    margin-bottom: 85px!important;
  }
  .marg-xs-b90 {
    margin-bottom: 90px!important;
  }
  .marg-xs-b95 {
    margin-bottom: 95px!important;
  }
  .marg-xs-b100 {
    margin-bottom: 100px!important;
  }
  .marg-xs-b140 {
    margin-bottom: 140px!important;
  }
  .marg-xs-t0 {
    margin-top: 0px!important;
  }
  .marg-xs-t5 {
    margin-top: 5px!important;
  }
  .marg-xs-t10 {
    margin-top: 10px!important;
  }
  .marg-xs-t15 {
    margin-top: 15px!important;
  }
  .marg-xs-t20 {
    margin-top: 20px!important;
  }
  .marg-xs-t25 {
    margin-top: 25px!important;
  }
  .marg-xs-t30 {
    margin-top: 30px!important;
  }
  .marg-xs-t35 {
    margin-top: 35px!important;
  }
  .marg-xs-t40 {
    margin-top: 40px!important;
  }
  .marg-xs-t45 {
    margin-top: 45px!important;
  }
  .marg-xs-t50 {
    margin-top: 50px!important;
  }
  .marg-xs-t55 {
    margin-top: 55px!important;
  }
  .marg-xs-t60 {
    margin-top: 60px!important;
  }
  .marg-xs-t65 {
    margin-top: 65px!important;
  }
  .marg-xs-t70 {
    margin-top: 70px!important;
  }
  .marg-xs-t75 {
    margin-top: 75px!important;
  }
  .marg-xs-t80 {
    margin-top: 80px!important;
  }
  .marg-xs-t85 {
    margin-top: 85px!important;
  }
  .marg-xs-t90 {
    margin-top: 90px!important;
  }
  .marg-xs-t95 {
    margin-top: 95px!important;
  }
  .marg-xs-t100 {
    margin-top: 100px!important;
  }
  .marg-xs-t140 {
    margin-top: 140px!important;
  }
  .no-padd-xs {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

.label {
  font-weight: normal;
}

.label.fixed-width {
  min-width: 70px;
  display: inline-block;
  padding: 10px;
}

.label-outline {
    border: 1px solid #FF9800;
    color: #333 !important;
    font-weight: 500;
    padding: 15px;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
}

.label-outline.label-warning {
    background-color: rgba(255, 152, 0, 0.11) !important;
    border-color: #FF9800;
}

.fixed-notification {
  padding: 20px 30px;
  z-index: 999999;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: relative;
  top: -15px;
  z-index: 1;
}

.fixed-notification.warning {
  background: rgb(243, 156, 18);
}

.fixed-notification.error {
  background: #F44336;
}

.fixed-notification.success {
  background: #4CAF50;
}

.fixed-notification .btn {
    margin-top: -5px;
    border: 0px;
    box-shadow: none;
    color: rgb(56, 42, 37);
    font-weight: 600;
    background: rgb(255, 255, 255);
}

.fixed-notification .close-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.label.label-lg {
    padding: 8px 14px;
    display: inline-block;
    font-size: 14px;
}

.intro {
  position: relative;;
  width: 100%;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1483199095378-ce6e77cd1c0d?dpr=1&auto=format&fit=crop&w=1500&h=918&q=80&cs=tinysrgb&crop=&bg=') no-repeat  center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-intro h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  color: #fff;
  margin-top: 20%;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 0px;

}

.text-intro p
{
  border: 2px solid #000;
  color: #000;
  background-color: white;
}

.text-intro h2 {
    font-family: 'Ubuntu';
    margin-bottom: 30px;
    font-size: 130%;
    color: #fff;
    margin-top: 0px;
}
.subscribe-field {
    background: rgba(0,0,0,0.2);
    color: #ffffff;
    padding: 12px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 35%;
    border: 1px solid transparent;
    text-align: center;

}

.subscribe-field:focus {
  outline: none;
}

.btn-orange {
    padding: 12px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    background: rgba(0,0,0,0.2);
    color: #d2d6de;
}

.main-sidebar {
  position: fixed;
  min-height: 100vh;
}

.main-header {
  position: fixed;
}

.form-bayar{
  border: none;
}
.status.fa{
  font-size: 18px;
}

.ajax-proccess {
    pointer-events: none;
}

.ajax-proccess:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  left: 0;
  top: 0;
}

.divider {
  position: relative;
  padding: 15px 0;
  display: block;
}

.left50{
  margin-top: 15px;
  padding: 0 18px;
  width: 50px;
  float: left;
  color: white;
}

.left240{
  width: 240px;
  float: left;
}

.mtop25{
  margin-top: 25px;
}

.mbot25{
  margin-bottom: 25px;
}

.logo{
  background-color: #0747A6 !important;
}

.treeview{
  font-size:18px !important;
  letter-spacing: 1px;
}

.pull-bot{
  position: absolute;
  bottom: -85vh;
  left: 0;
  width: 100%;
}

.searchform{
  padding: 50px;
  font-size: 24px;
  width: 100%;
  border: 0;
  color: grey;
}

.searchform:focus{
  outline: none !important;
  color: #0747A6;
}

#recentSearch{
  color: grey;
}

#recentSearch>h4{
  padding: 20px 35px 0px;
}

#recentSearch>li{
  list-style: none;
}

#recentSearch>li>a{
  color: grey !important;
  font-size: 14px;
}

.box-implementation{
  border-radius: 0px !important;
  margin-bottom: 2px !important;
}

.searchbox{
    position:relative;
    min-width:37.42px;
    width:0%;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    outline:0;
    width:100%;
}

.searchbox-icon,
.searchbox-submit{
    display:block;
    position:absolute;
    top:1px;
    right:0;
}
.searchbox-open{
    width:100%;
}

.sidebar-collapse .left240 {
  width: 50px;
}

.sidebar-menu>li>.treeview-menu {
  padding: 10px 0;
  background: #003686 !important;
}

.sidebar-menu>li.treeview>a {
  font-size: 14px;
  letter-spacing: 0px;
}

.sidebar-menu .treeview-menu > li > a {
  padding: 10px;
  padding-left: 20px;
  color: #fff !important;
}

.sidebar-menu .treeview-menu > li > a:hover {
  background-color: #1e282c;
}

.sidebar-menu .treeview-menu > li > a > i.fa {
  margin-right: 10px;
}

/* addon - iron range slider */
.irs .irs-bar-edge,
.irs .irs-bar {
  background: #0083ca;
}
.irs .irs-bar-edge {
  border-radius: 5px 0 0 5px;
}
.irs .irs-line-right {
  border-radius: 0 5px 5px 0;
}
.irs .irs-slider {
  background: #333;
  border-radius: 3px;
  width: 8px;
}
.irs .irs-single,
.irs .irs-from,
.irs .irs-to {
  background: #0083ca;
  padding: 5px 10px;
  top: -8px;
}
.irs .irs-single:after,
.irs .irs-from:after,
.irs .irs-to:after {
  border-top-color: #0083ca;
}
.irs .irs-max, .irs .irs-min {
  padding: 5px 10px;
}
.irs-diapason {
    background: #0083ca !important;
}

.box-header.have-slider h4 {
  padding-top: 10px;
}

.gma-swal-loader {
  padding: 0 !important;
  position: relative;
  overflow: hidden;
}

.gma-swal-loader.swal2-modal .swal2-content,
.gma-swal-loader.swal2-modal .swal2-image,
.gma-swal-loader.swal2-modal .swal2-title {
  position: relative;
  z-index: 1;
  color: #fff;
}

.gma-swal-loader.swal2-modal .swal2-content,
.gma-swal .swal2-content {
  padding-bottom: 40px;
}

.gma-swal-loader.swal2-modal:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 132px;
  background-color: #2d3e50;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.gma-swal-inbox.swal2-modal .swal2-content,
.gma-swal-inbox.swal2-modal .swal2-image,
.gma-swal-inbox.swal2-modal .swal2-title,
.gma-swal-inbox.swal2-modal .swal2-buttonswrapper {
  position: relative;
  z-index: 1;
}

.gma-swal-inbox.swal2-modal .swal2-content {
  color: #151414;
  font-size: 16px;
  padding: 15px;
  padding-bottom: 30px;
  line-height: 28px;
  background: #fdfdfd;
  letter-spacing: 0.2px;
  z-index: 0;
}

.gma-swal-inbox.swal2-modal .swal2-title {
  margin-bottom: 10px;
  color: #353230;
}

.gma-swal-inbox.swal2-modal .swal2-image {
  width: 64px;
}

.gma-swal-inbox.swal2-modal .swal2-buttonswrapper {
  margin-top: 0;
  font-size: 16px;
  padding: 15px;
}

.gma-swal-inbox.swal2-modal .swal2-buttonswrapper button {
  border: 1px solid rgb(253, 253, 253) !important;
}

.gma-swal-inbox.swal2-modal:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 85px;
  background-color: #3185d6;
  bottom: 0;
  left: 0;
  border-top: 4px solid #eee;
  z-index: 0;
}

.gma--wrapper--hide {
  display: none;
}

.swal2-modal .label-outline {
  padding: 5px 10px;
}

/* ========== LOADER ========== */
body.pace-running {
  overflow: hidden;
}

body.pace-done .pace {
  opacity: 0;
  visibility: hidden;
}

.pace {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pace .pace-activity {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("../images/Nicolas.gif") no-repeat;
  -webkit-background-size: 100px;
  background-size: 100px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 80px;
  left: -70px;
  width: 100vw;
  content: "Progress " attr(data-progress-text);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 1;
  text-align: left;
  color: #333;
}

.fooicon .fooicon-loader:before {
  content: '';
  background: url("../images/Nicolas.gif") no-repeat;
  width: 100px;
  height: 100px;
}
/* ========== LOADER ========== */

input.form-control {
  font-weight: normal;
}

.star-rating-checked {
    color: orange;
}

.list-unstyled.gma-unstyled li {
  margin-bottom: 10px;
}

.gma-icheck-label .icheckbox_flat-blue {
  margin-right: 5px;
}

.gma-input-upload,
.gma-btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.gma-input-upload input,
.gma-btn-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.gma-upload-square-placeholder {
    width: 100%;
    height: 320px;
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.gma-upload-square-placeholder.done {
    min-height: 320px;
    height: auto;
}

.gma-upload-square-placeholder > .gma-item {
  position: relative;
  left: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gma-upload-square-placeholder > .upload-result {
  position: relative;
}

.gma-upload-square-placeholder > .upload-result img {
  width: 100%;
}

.gma-upload-square-placeholder > .upload-result .remove-image {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* BELOW FOR CUSTOM DATATABLE STYLES */
.dataTables_wrapper {
  position: relative;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter {
  margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter {
  text-align: right;
} 

.dataTables_wrapper .dataTables_filter input[type="search"] {
    margin-left: 5px;
    width: 180px;
    background: #efeeee;
}

.dataTables_wrapper .dataTables_length select {
    width: 50px;
    background: #efeeee;
    color: #2b2525;
    margin: 0 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 0px 10px;
    width: 44px !important;
    font-weight: 600;
}

.dataTables_wrapper .dataTables_processing {
  width: 98%;
  height: 100px;
  position: absolute;
  top: 25% !important;
  left: 15px;
  background-color: rgba(255,255,255,.9);
}


.dataTables_processing .gma--datatable--loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.dataTables_processing .gma--datatable--loader img {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-80%);
}

.dataTables_processing .gma--datatable--loader:after {
  content: 'Loading...';
  display: block;
  font-size: 18px;
  position: absolute;
  width: 80px;
  left: 50%;
  top: 77%;
  transform: translateX(-50%) translateY(-50%);
}
/* END CUSTOM DATATABLE STYLES */

.pointer{
  cursor: pointer;
}

.issues-detail-status-list{
  position: absolute;
  top: 0;
  right: 0;
  width: 148px;
  z-index: 5;
  height: 0;
}

.issues-detail-status-list li{
  text-align: left;
  padding-top: 6px;
  color: transparent;
}

.hidden{
  display: none !important;
}

.disappear {
    height: 0px;
    -webkit-transition: height 0.5s linear;
       -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
         -o-transition: height 0.5s linear;
            transition: height 0.5s linear;
}

.appear {
    padding-top: 30px !important;
     height: 85px;
     -webkit-transition: height 0.5s linear;
        -moz-transition: height 0.5s linear;
         -ms-transition: height 0.5s linear;
          -o-transition: height 0.5s linear;
             transition: height 0.5s linear;
}

.swal2-modal .swal2-select {
    font-size: inherit;
    padding: 5px 15px;
    min-width: 40%;
    max-width: 100%;
    height: 38px;
    background: #E91E63;
    border: none;
    color: #fff;
    -moz-appearance: none;
    outline: none;
}

.swal2-modal .swal2-select:focus,
.swal2-modal .swal2-select:link,
.swal2-modal .swal2-select:active {
  outline: none !important;
}

span.label.label-indicator {
    font-size: 18px;
    padding: .2em 0 .3em !important;
    display: block;
    text-align: center;
}

span.label.label-indicator i {
  display: inline-block;
  cursor: pointer;
}

span.label.label-indicator .text-success {
    color: #009688;
}

span.label.label-indicator .text-danger {
    color: #F44336;
}

span.label.label-indicator span.text {
    display: block;
    font-size: 13px;
    color: #5a5a5a;
    margin-top: 7px;
    font-weight: 500;
    text-transform: lowercase;
}

.bar {
    height: 18px;
    background: green;
}

.height-inherit{
  height: inherit !important;
}

.blue{
  color: #4FA1D6 !important;
}

.green{
  color: #61D64F !important;
}

.orange{
  color: #FF5935 !important;
}

.purple{
  color: #6D5CDC !important;
}

.brown-young{
  color: #EAEA8D !important;
}

.red{
  color: #BA272D !important;
}

.brown-old{
  color: #3C3E31 !important;
}

.modal-dialog.modal-full-width {
  width: 80vw;
}

.box-body.gma-contractor-list {
  padding: 0;
}

.gma-contractor-list .post {
  padding: 15px;
  border-bottom: 1px solid #efefef;
}

.gma-contractor-list a:hover .post {
  background: #f5f5f5;
}

.gma-contractor-list .post .list-meta {
  font-size: 12px;
  color: #8a8a8a;
  padding-top: 3px;
}

.gma-contractor-list .post .list-separator {
  display: inline-block;
  position: relative;
  margin: 0 3px;
}

.box .box-title span {
  font-size: 14px;
  color: #989a9c;
}

.modal .right-divider {
  padding-right: 20px;
  padding-left: 0;
  color: #000;
  border-right: 1px solid #ececec;
}

.table td.for-btn {
  background: #8edcff;
  color: #fff !important;
  border: 1px solid #8edcff;
  padding: 0;
}

.table td.for-btn a {
  color: #034c6d;
  display: block;
  padding: 8px;
}

.gma-section-loading .text {
  text-align: center;
  padding-top: 10px;
  width: 100%;
}

.gma-section-loading img {
  display: block;
  text-align: center;
  width: 48px;
  margin: 0 auto;
  border-radius: 100%;
}

#surveyEmoji span {
    position: relative;
    display: inline-block;
    padding: 1px;
    border-radius: 50%;
    font-size: 22px;
}

.note-editable{
background-color:white;
overflow:auto;
}
.note-codable {
display:none;
}
.note-dropzone {
display: none;
}
.shadowHelper{
  font-size: 14px;
  font-weight: 800;
  padding: 0 10px;
}
.shadowHelper .fa{
  padding-left: 10px;
}
.po-font{
  height: 50px;
  font-family: 'Amiri', serif;
  font-weight: bolder;
  font-size: 20px;
  color: #0747a6;
  letter-spacing: 1px;
}

.gma-rating-bar .fa {
  position: relative;
  top: 1px;
}

.gma-rating-bar .text {
  display: inline-block;
  margin-right: 5px;
}

.select-contractor-wrap {
  position: relative;
}

.select-contractor-wrap > .select-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 35px;
  padding: 8px 8px;
  height: 100%;
  text-align: center;
  font-size: 24px;
}

.select-contractor-wrap > .select-text-wrap {
    display: inline-block;
    position: relative;
    padding-left: 45px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.select-contractor-wrap > .select-text-wrap .select-meta {
  font-size: 12px;
}

.select-contractor-wrap > .select-text-wrap .select-sepator {
    display: inline-block;
    margin: 0 10px;
    width: 2px;
    height: 9px;
    background: #fff;
    position: relative;
    top: 1px;
}

.gma-accordion-stack .panel-body {
  background: #f5f5f5;
}

.gma-accordion-stack .panel-body table.table.table-striped > tbody > tr {
  background: #fff;
}

.gma-accordion-stack .panel-body table.table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e7ebf1;
}

.gma-accordion-stack .panel-body .nav > li > a:focus, .nav > li > a:focus {
    background: #fff;
}

.gma-accordion-stack .stack-label {
  display: inline-block;
  width: 110px;
}

.gma-accordion-stack .stack-label + .separator {
  display: inline-block;
  margin-right: 10px;
}

.gma-widget .widget-button {
    top: 35px;
    right: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
}

.gma-progress-inverse {
  background-color: #3a3e42;
}

.widget-user-image.widget-icon i {
    height: 60px;
    width: 60px;
    float: left;
    font-size: 24px;
    position: relative;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    padding: 16px 10px;
    border-radius: 50%;
    text-align: center;
}

span.badge-outline {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    border: 1px solid #dadada;
    background: #f9f9f9;
    border-radius: 8px;
}

.badge {
  font-weight: normal;
}
.poLh{
  padding: 3px;
  line-height: 0.9;
}
.poRh{
  padding: 3px;
  line-height: 1.6;
}
.poFs{
  font-size: 12px;
}
.poHead{
  font-size: 13px;
  font-weight: bold;
}
.poHeadColor{
  background-color: #0747a6;
  color: white;
  vertical-align: middle !important;
}
.poLftSgmnt{
  width: 40%;
  float: left;
}
.poRghtSgmnt{
  width: 60%;
  float: left;
}
.poVt{
  vertical-align: top !important;
}
.poTh{
  text-align: center;
}
.poBrdrHr-left-head{
  border-top: 1px solid #0747a6 !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid #0747a6 !important;
  border-left: 1px solid #0747a6 !important;
}
.poBrdrHr-right-head{
  border-top: 1px solid #0747a6 !important;
  border-right: 1px solid #0747a6 !important;
  border-bottom: 1px solid #0747a6 !important;
}
.poBrdrHr-middle-head{
  border-top: 1px solid #0747a6 !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid #0747a6 !important;
}
.poBrdrHr-left-body{
  border-top: 1px solid #0747a6 !important;
  border-right: 1px solid #0747a6 !important;
  border-bottom: 1px solid #0747a6 !important;
  border-left: 1px solid #0747a6 !important;
}
.poBrdrHr-right-body{
  border-top: 1px solid #0747a6 !important;
  border-right: 1px solid #0747a6 !important;
  border-bottom: 1px solid #0747a6 !important;
}
.poBrdrHr-middle-body{
  border-top: 1px solid #0747a6 !important;
  border-right: 1px solid #0747a6 !important;
  border-bottom: 1px solid #0747a6 !important;
}
.poBrdrHr-extra{
  border-top: 1px solid #0747a6 !important;
  border-right: 1px solid #0747a6 !important;
  border-bottom: 1px solid #0747a6 !important;
  border-left: 1px solid #0747a6 !important;
}
.tablePO > tbody > tr > td{
  border: none;
}

@media print {
  @page {
    margin: 0cm;
    size: A4 potrait;
  }
  .po-font{
    color: #0747a6 !important;
  }
  .tablePO > tbody > tr > td.poHeadColor{
    background-color: #0747a6 !important;
    -webkit-print-color-adjust: exact; 
  }

  .tablePO > tbody > tr > td.poHeadColor .poHead,
  .tablePO > tbody > tr > td.poHeadColor .poLh {
    color: #ffffff !important;
  }
}

.btn-rounded{
  border-radius: 50% !important;
}

.fixed-card{
  position: fixed; 
  z-index: 1; 
  margin: -15px;
}

.refreshOrb:hover{
  background-color: #5bc0de !important;
}

#popover-content{
  display: none;
}

.bg-dark-blue{
  background-color: #0747a6 !important;
  color: white !important;
}

.finish-progress{
  font-style: italic;
  font-size: 12px;
  letter-spacing: 1px;
  border-bottom: solid 1px;
  padding: 0 2px;
  cursor: pointer;
}