.bottom-space {
	margin-bottom: 30px !important;
}

.top-space {
	margin-top: 5vh;
}

.vi-box-message {
	padding: 50px;
}

.vi-icon-circle {
    padding: 5px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background: #E91E63;
    color: #fff;
}

.label.fixed-width {
	display: inline-block;
	width: 40px;
}

.issue-detail-wrapper {
    position: fixed;
    width: 600px;
    height: 100vh;
    z-index: 999;
    background: #efefef;
    right: 0;
    top: 0;
    padding: 30px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
    transform: translateX(120%);
}

.issue-detail-wrapper.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.vi-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.76);
    z-index: 998;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}

.vi-overlay.in {
    opacity: 1;
    visibility: visible; 
}

.issue-detail-wrapper .issue-detail-header {
    position: relative;
    margin-bottom: 20px;
}

.issue-detail-wrapper .issue-detail-header h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.issue-detail-wrapper .issue-detail-header .pull-right {
    /*padding-top: 10px;*/
}

.issue-detail-wrapper a.close-issue {
    position: absolute;
    display: inline-block;
    color: #fff;
    left: -36px;
    top: 20px;
    font-size: 36px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px;
}

.main-header{
    z-index: 997;
}
